.login-bg {
    text-align: center;
    background-color: #1db954;
}

.login-bg button {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.login-bg img {
    width: 50%;
    position: relative;
    top: 20%;
}