.player-body {
    width: 100%;
    position: sticky;
    bottom: 0;
    height: 120px;
    background-color: black;
}

.player-img {
    height: 60px;
}

.playerBarContainer {
    display: inline-block;
    width: 60%;
    height: 50%;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: center;
}   

.barContainer {
    position: absolute;
    bottom: 0;
}

.playerBar {
    display: inline-block;
    background-color: grey;
    width: 70%;
    height: 5px;
}

.activeColor {
    color: #1db954;
}

.fa-solid {
    cursor: pointer;
}