.player-body {
    width: 100%;
    position: sticky;
    bottom: 0;
    height: 120px;
    background-color: black;
}

.player-img {
    height: 60px;
}

.playerBarContainer {
    display: inline-block;
    width: 60%;
    height: 50%;
    text-align: center;
    position: relative;
    top: 25%;
}   

.playerBar {
    position: absolute;
    bottom: 0;
}

.activeColor {
    color: #1db954;
}

.fa-solid {
    cursor: pointer;
}