.sidebar-body {
    background-color: #191414;
    width: 100%;
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.sidecol {
    max-width: 20%;
}

.btn {
    background-color: #191414;
    border: none;
}
.btn:hover {
    background-color: #191414;
    color: antiquewhite;
}

.playlists {
    font-size: 0.8rem;
    cursor: pointer;
}
.playlists:hover {
    color: antiquewhite;
}

.sideLogo {
    max-width: 150px;
}

hr {
    width: 80%;
}